#homepage {
    display: flex;
    flex-direction: column;
    padding: 75px 105px;
}

#newest {
    margin-top: auto;
}


#top_rated {
    margin-bottom: auto;
}

#newest h2,
#top_rated h2 {
    color: #f1f1f1;
    font-size: 24px;
    margin: 20px 0 -10px 0;
    overflow-x: hidden;
}

.quizzes {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 20px 0;
    scrollbar-color: var(--purple-light) var(--grey-light);
    scrollbar-width: thin;
}

.quizzes .quiz {
    color: #f1f1f1;
    margin-bottom: -20px;
    min-height: 150px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    width: 200px;
}

.quizzes .quiz:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

.quizzes .quiz .quiz-author {
    background-color: var(--purple-light);
    border-radius: 2px;
    box-shadow: 0 0 3px 2px rgba(var(--grey-dark-rgb), 0.8);
    color: #f1f1f1;
    font-weight: 700;
    left: 10px;
    overflow: hidden;
    padding: 2px 5px;
    position: absolute;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: 0.3s ease-in-out;
    top: 10px;
    width: 75px;
}

.quizzes .quiz .quiz-author:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

.quizzes .quiz a {
    color: #f1f1f1;
    text-decoration: none;
}
.quizzes .quiz a img {
    background: #3a3535;
    border-radius: 5px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.quizzes .quiz a p {
    display: -webkit-box;
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media only screen {

    @media (max-width: 750px) {

        #homepage {
            padding: 75px 25px;
        }

    }
}