a, i {
    color: #f1f1f1;
    text-decoration: none;
}

h1, h4 {
    margin: 0;
}

h2 {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

button {
    font-family: "Titillium Web", sans-serif;
}

.delete_confirmation {
    align-items: center;
    background-color: none;
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: -1;
}

.delete_confirmation .delete-card {
    background-color: var(--grey-light);
    border-radius: 5px;
    color: #f1f1f1;
    display: initial !important;
    padding: 25px;
    transform: scale(0);
    transition: transform 0.5s ease;
    width: initial !important;
}

.delete_confirmation .delete-card h1 {
    font-size: 15px;
    margin: 0;
}

.delete_confirmation .delete-card .items {
    background-color: var(--grey-light);
    border-radius: 5px;
    color: #f1f1f1;
    display: flex;
    justify-content: flex-end;
}

.delete_confirmation .delete-card .items button,
.delete_confirmation .delete-card .items a {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
}

.delete_confirmation .delete-card .items button {
    background-color: var(--grey-lighter);
    color: #f1f1f1;
    margin-right: 10px;
}

.delete_confirmation .delete-card .items a {
    background-color: #ff4d4d;
    color: var(--grey-dark);
}

.dropdown-container {
    position: relative;
}

.dropdown-container:hover .dropdown-options,
.dropdown-container:focus .dropdown-options {
    opacity: 1;
    transition: visibility 1s, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    top: 100%;
    visibility: visible;
}

.dropdown-options {
    background-color: var(--grey-lighter);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateX(-15%);
    transition: visibility 0s, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    visibility: hidden;
    width: 110px;
    z-index: 1;
}

.dropdown-options a {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    cursor: pointer;
    margin: 5px 0;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    width: 100%;
}

.dropdown-options a:hover {
    background-color: var(--purple-normal);
}

#user_profile {
    align-items: center;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50vh 0 5% 15%;
}

#user_profile .backdrop-div {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%233500d3' fill-opacity='1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    background-attachment: fixed;
}

#user_profile .backdrop,
#user_profile .backdrop-div {
    height: 55vh;
    left: 0;
    margin-top: 75px;
    mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
    object-fit: cover;
    object-position: center;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
}

#user_profile .user-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#user_profile .user-info .user-avatar {
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    width: 200px;
}

#user_profile .user-info .user-info-content {
    align-self: center;
    width: calc(100% - 200px);
}

#user_profile .user-info .user-info-content .user-username {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 25px;
}

#user_profile .user-info .user-info-content .user-nav {
    background-color: var(--purple-dark);
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 25px;
}

#user_profile .user-info .user-info-content .user-nav a {
    background-color: var(--purple-light);
    color: #f1f1f1;
    margin: 3px;
    padding: 5px 10px;
    text-decoration: none;
}


#user_quizzes {
    color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 100px 100px 100px;
}

#user_quizzes .options {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 250px;
}

#user_quizzes .options button,
#user_quizzes .options a {
    background-color: transparent;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: left;
    transition: 0.3s ease-in-out;
}

#user_quizzes .options button.active,
#user_quizzes .options a.active {
    background-color: var(--purple-normal);
    border-radius: 3px;
}

#user_quizzes .card {
    background-color: var(--grey-light);
    border-radius: 5px;
    display: none;
    height: fit-content;
    padding: 25px;
    width: 65%;
}

#user_quizzes .card.active {
    display: initial;
}

#user_quizzes .card h1 {
    margin-bottom: 15px;
}

#user_quizzes .card .none {
    margin: 0;
}

#user_quizzes .card .quiz {
    align-items: center;
    border-radius: 5px;
    color: #f1f1f1;
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    width: 100%;
}

#user_quizzes .card .quiz img {
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    object-fit: cover;
    object-position: center;
    position: relative;
    width: 80px;
}

#user_quizzes .card .quiz:hover {
    background-color: var(--grey-dark);
}

#user_quizzes .card .quiz .left {
    display: flex;
    align-items: center;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
}

#user_quizzes .card .quiz h4 {
    margin: 0 25px;
}


#user_quizzes .card .quiz .right {
    margin-left: auto;
}

#user_quizzes .card .quiz .right span {
    margin: 10px;
    margin-right: 0;
}

#user_quizzes .card .quiz .right i {
    margin: 5px;
}

@media only screen {

    @media (max-width: 1000px) {

        #user_quizzes {
            justify-content: initial;
            padding: 0 25px 100px 25px;
        }

        #user_quizzes .card {
            width: 100%
        }

    }

    @media (max-width: 750px) {

        #user_profile {
            padding: 50% 0 5% 0;
        }

        #user_profile .user-info .user-info-content {
            width: 100%;
        }

        #user_profile .user-info .user-info-content .user-username {
            margin: 25px 0 10px;
            text-align: center;
        }

        #user_profile .user-info .user-info-content .user-nav {
            background-color: var(--purple-dark);
            display: flex;
            justify-content: space-between;
            padding: 20px 25px 20px 25px;
        }

        #user_quizzes .card .none {
            font-size: 15px;
        }

    }

    @media (max-width: 560px) {

        #user_quizzes .card .quiz .right {
            display: none;
        }

    }

    @media (max-width: 500px) {

        #user_quizzes .card .quiz h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 150px;
        }

        .dropdown-options {
            width: 150px;
        }

    }

    @media (max-width: 400px) {

        #user_quizzes .card .quiz h4 {
            width: 100px;
        }

    }

}