<div class="dropbox">

    {{ input }}
    <p>Drop image here or click to upload</p>

    {% if preview %}
    <img class="thumbnail-preview">

    <script>
        const thumbnail = document.querySelector('.thumbnail');

        const showPreview = (event) => {
            if (event.target.files.length > 0) {
                const src = URL.createObjectURL(event.target.files[0]);
                const preview = event.target.parentElement.getElementsByClassName('thumbnail-preview')[0];

                preview.src = src;
                preview.style.display = 'block';
                preview.style.cursor = 'initial';
            }
        }

        const clearPreview = (btn) => {
            const preview = btn.parentElement.parentElement.getElementsByClassName("thumbnail-preview")[0];
            preview.src = "";
            preview.style.display = "none";
            preview.parentElement.removeAttribute("style");
            preview.parentElement.getElementsByTagName("input")[0].value = "";
        }

        thumbnail.addEventListener('change', showPreview);
    </script>
    {% endif %}

    <style type="text/css">
        .dropbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            outline: 0.125em dashed var(--text);
            outline-offset: -0.75em;
            height: 23em;
            background-color: var(--grey-dark);
            position: relative;
            padding: 0.75em;
            transition: 0.2s ease-in-out;
            text-align: center;
            border-radius: 0.25em;
        }

        .dropbox:hover {
            color: var(--purple-light);
            outline: 2px dashed var(--purple-light);
        }

        .dropbox .thumbnail-preview {
            height: 100%;
            object-fit: cover;
            position: absolute;
            width: 100%;
            display: none;
            border-radius: 0.25em;
        }

        .dropbox input {
            cursor: pointer;
            height: 100%;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            width: 100%;
        }

        @media (max-width: 490px) {
            .dropbox {
                height: 15em;
            }
        }
    </style>

</div>