{% extends "index.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/user_quizzes.css' %}">{% endblock %}
{% block title %}Quizzes by {{ viewing_user.username }}{% endblock %}

{% block content %}

    {% csrf_token %}
    <section id="user_profile">

        {% if not viewing_user.user_profile.banner %}
            <div class="backdrop-div"></div>
        {% else %}
            <img class="backdrop" src="{{ MEDIA_URL }}{{ viewing_user.user_profile.banner.url }}" alt="{{ quiz.quiz_info.title }}">
        {% endif %}

        <div class="user-info">
            {% if not viewing_user.user_profile.avatar %}
                    <img class="user-avatar" src="{% static 'assets/img/default.png' %}" alt="{{ viewing_user.username }}'s avatar">
                {% else %}
                    <img class="user-avatar" src="{{ MEDIA_URL }}{{ viewing_user.user_profile.avatar.url }}" alt="{{ viewing_user.username }}'s avatar">
            {% endif %}
            <div class="user-info-content">
                <h2 class="user-username">{{ viewing_user.username }}</h2>
                <nav class="user-nav">
                    <div class="user-nav-left">
                        <a href="/{{ viewing_user.user_profile.slug }}">Overview</a>
                        <a href="/{{ viewing_user.user_profile.slug }}/quizzes">Quizzes</a>
                        <a href="/{{ viewing_user.user_profile.slug }}/social">Social</a>
                    </div>
                    <div class="user-nav-right">
                        {% if user.is_authenticated and user == viewing_user %}
                            <a href="/settings">Edit Profile</a>
                        {% else %}
                            {% if not viewing_user in user.user_profile.following.all %}
                                <a class="follow-unfollow" href="/{{ viewing_user.user_profile.slug }}/action/follow/">Follow</a>
                            {% else %}
                                <a class="follow-unfollow" href="/{{ viewing_user.user_profile.slug }}/action/unfollow/">Unfollow</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </section>

    <section id="user_quizzes">
        <div class="options">
            <h2>Options</h2>
            <button class="option-btn active">Created Quiz</button>
            <button class="option-btn">Completed Quiz</button>
            {% if user.is_authenticated and user == viewing_user %}<a class="option-btn-link" href="/create-quiz">Make Quiz</a>{% endif %}
        </div>

        <div class="card active">
            {% if created_quiz.count == 0 %}
                <h1 class="none">{% if user.is_authenticated and user == viewing_user %}You have{% else %}This user has{% endif %} not created any quizzes...</h1>
            {% else %}
                <h1>Created</h1>
                {% for quiz in created_quiz %}
                <div class="quiz" href="/{{ viewing_user.user_profile.slug }}/{{ quiz.slug }}">
                    <div class="left">
                        {% if user.is_authenticated and user == quiz.author %}
                        <div class="dropdown-container">
                            <img src="{{ quiz.thumbnail.url }}" alt="{{ quiz.title }}">
                            <div class="dropdown-options">
                                <a href="/{{ viewing_user.user_profile.slug }}/{{ quiz.slug }}/edit"><i class="fas fa-edit"></i> Edit</a>
                                <a href="/{{ viewing_user.user_profile.slug }}/{{ quiz.slug }}/delete" onclick="showConfirmation(event);"><i class="fas fa-trash-alt"></i> Delete</a>
                            </div>
                        </div>
                        <div class="delete_confirmation" onclick="closeConfirmationFromBg(this)">
                            <div class="delete-card">
                                <h1>Are you sure you want to delete "{{ quiz.title }}"?</h1>
                                <hr>
                                <div class="items">
                                    <button onclick="closeConfirmation(this)">Cancel</button>
                                    <a href="/{{ viewing_user.user_profile.slug }}/{{ quiz.slug }}/delete" onclick="deleteQuiz(event)">Delete</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <img src="{{ quiz.thumbnail.url }}" alt="{{ quiz.title }}">
                        {% endif %}

                        <a href="/{{ viewing_user.user_profile.slug }}/{{ quiz.slug }}"><h4>{{ quiz.title }}</h4></a>
                    </div>
                    
                    <div class="right">
                        <span><i class="fas fa-thumbs-up"></i>{{ quiz.upvotes.count }}</span>
                        <span><i class="fas fa-thumbs-down"></i>{{ quiz.downvotes.count }}</span>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="card">
            {% if completed_quiz.count == 0 %}
                <h1 class="none">{% if user.is_authenticated and user == viewing_user %}You have{% else %}This user has{% endif %} not completed any quizzes...</h1>
            {% else %}
                <h1>Completed</h1>
                {% for completed in completed_quiz %}
                <div class="quiz" href="/{{ completed.quiz.author.user_profile.slug }}/{{ completed.quiz.slug }}">
                    <div class="left">
                        {% if user.is_authenticated and user == completed.quiz.author %}
                        <div class="dropdown-container">
                            <img src="{{ completed.quiz.thumbnail.url }}" alt="{{ completed.quiz.title }}">
                            <div class="dropdown-options">
                                <a href="/{{ completed.quiz.author.user_profile.slug }}/{{ completed.quiz.slug }}/edit"><i class="fas fa-edit"></i> Edit</a>
                                <a href="/{{ completed.quiz.author.user_profile.slug }}/{{ completed.quiz.slug }}/delete" onclick="showConfirmation(event);"><i class="fas fa-trash-alt"></i> Delete</a>
                            </div>
                        </div>
                        <div class="delete_confirmation">
                            <div class="delete-card">
                                <h1>Are you sure you want to delete "{{ completed.quiz.title }}"?</h1>
                                <hr>
                                <div class="items">
                                    <button onclick="closeConfirmation(this)">Cancel</button>
                                    <a href="/{{ completed.quiz.author.user_profile.slug }}/{{ completed.quiz.slug }}/delete" onclick="deleteQuiz(event)">Delete</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <img src="{{ completed.quiz.thumbnail.url }}" alt="{{ completed.quiz.title }}">
                        {% endif %}
                        <a href="{{ completed.quiz.author.user_profile.slug}}/{{ completed.quiz.slug }}"><h4>{{ completed.quiz.title }}</h4></a>
                    </div>
                    
                    <div class="right">
                        <span><i class="fas fa-star"></i>{{ completed.score }}/{{ completed.quiz.questions.count }}</span>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <script src="{% static 'assets/js/user_quizzes.js' %}"></script>
{% endblock %}